<footer class="site-footer container">
  <div class="inner">
      <div class="row">
          <div class="col-xs-12">
              <p> <strong>Viable Industries creates data, mapping, &amp; visualization tools for the environment.</strong></p>
              <p>Copyright &copy; 2014 Viable Industries, L.L.C. All rights reserved. Using this website is subject to our <a href="/#/terms">Terms of Use</a> and <a href="/#/privacy">Privacy Policy</a>.</p>
              <p>We are located at 6101 Penn Ave, Suite 201 in Pittburgh, Pennsylvania 15206. Our offices are on the second floor of the Liberty Bank Building in The Beauty Shoppe's innovative working space. You can reach us any time at <a href="tel:412-956-3358">412-956-3358</a> or by email <a href="mailto:grow@viableindustries.com">grow@viableindustries.com</a>.</p>
          </div>
      </div>
  </div>
</footer>