<footer class="site-footer row">
  <div class="column-16">
    <p> <strong>Viable Industries creates data, mapping, &amp; visualization tools in Pittsburgh, PA.</strong></p>
    <p>Copyright &copy; 2013-2014 Viable Industries, L.L.C. All rights reserved. Using this website is subject to our <a href="/about/terms/">Terms of Use</a> and <a href="/about/privacy-policy/">Privacy Policy</a>.</p>
    <p>We are located at 6101 Penn Ave, Suite 201 in Pittburgh, Pennsylvania 15206. Our offices are on the second floor of the Liberty Bank Building in The Beauty Shoppe's innovative working space.</p>
  </div>
</footer>