<header class="site-header">

    {% if page.url == '/index.html' %}
    <a class="site-title active" href="{{ site.baseurl }}/" title="{{ site.title }}">
      <img src="/images/logo-ViableIndustries-Logotype-Black.svg" alt="Viable Industries Corporate Logotype" />
<!--       <img src="/images/logo-ChesapeakeCommons-Logotype-Black.svg" alt="Viable Industries Corporate Logotype" />
      <img src="/images/logo-CommonsCloud-Logotype-Black.svg" alt="Viable Industries Corporate Logotype" />
 -->    </a>
    {% else %}
    <a class="site-title" href="{{ site.baseurl }}/" title="{{ site.title }}">
      <img src="/images/logo-ViableIndustries-Logotype-Black.svg" alt="Viable Industries Corporate Logotype" />
<!--       <img src="/images/logo-ChesapeakeCommons-Logotype-Black.svg" alt="Viable Industries Corporate Logotype" />
      <img src="/images/logo-CommonsCloud-Logotype-Black.svg" alt="Viable Industries Corporate Logotype" />
 -->    </a>
    {% endif %}

    <nav class="navigation-primary">
      <ul>
        {% assign pages = (site.pages | sort: 'order', 'last') %}
        {% for page_ in pages %}
          {% if page_.title and page_.navigation.level == 1 %}
            {% if page_.url == page.url %}
              <li>
                <a class="page-link active" href="{{ page_.url | prepend: site.baseurl }}">{{ page_.title }}</a>
              </li>
            {% else %}
              <li>
                <a class="page-link inactive" href="{{ page_.url | prepend: site.baseurl }}">{{ page_.title }}</a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

</header>
