---
layout: default
---
<div class="row">
  <div class="column-16">

  <header class="page-header">
    <h2>
      <a href="{{ page.section.url }}" title="{{ page.title }} is part of the {{ page.section.text }} section">
        {{ page.section.text }}
      </a>
      {% if page.subsection.text %}
      &mdash;
      <a href="{{ page.subsection.url }}" title="{{ page.title }} is part of the {{ page.subsection.text }} section">
        {{ page.subsection.text }}
      </a>
      {% endif %}
    </h2>
    <h1 class="page-title">{{ page.title }}</h1>
  </header>

  <article class="page-content">
    {{ content }}
  </article>

  {% if page.navigation.level == 1 && !page.navigation.hide_children %}
  <aside class="page-sidebar">
    <h3>More on {{ page.section.text }}</h3>
    <ul>
    {% assign pages = (site.pages | sort: 'order', 'last') %}
    {% for page_ in pages %}
      {% if page_.title and page_.navigation.parent == page.url and page_.navigation.level == 2 %}
        {% if page_.url == page.url %}
          <li>
            <a class="page-link active" href="{{ page_.url | prepend: site.baseurl }}">{{ page_.navigation.title }}</a>
          </li>
        {% else %}
          <li>
            <a class="page-link inactive" href="{{ page_.url | prepend: site.baseurl }}">{{ page_.navigation.title }}</a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
    </ul>
  </aside>
  {% endif %}

  </div>
</div>
