---
layout: default
---
<div class="row">
  <div class="column-16">

  <header class="post-header">
    <h2>
      <a href="{{ page.section.url }}" title="{{ page.title }} is part of the {{ page.section.text }} section">
        {{ page.section.text }}
      </a>
    </h2>
    <h1 class="post-title">{{ page.title }}</h1>
    <h6 class="alt post-published">Published on {{ page.date | date: "%b %-d, %Y" }}{% if page.author %}{% endif %}</h6>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <aside class="post-author">
    <div class="row">
      <div class="column-3">
        <img class="author-image" src="{{ page.author.img }}" width="128" alt="{{ page.author.bio }}" />
      </div>
      <div class="column-13">
        <p>
          <a href="{{ page.author.url }}" title="{{ page.author.bio }}">{{ page.author.name }}</a> {{ page.author.description }}
        </p>
      </div>
    </div>
  </aside>

  </div>
</div>
