<footer role="contentinfo" class="site-footer">
  <div class="row">
    <div class="column-4">
      <h5>Come Visit Us</h5>
      <address>
        6101 Penn Ave, Suite 201<br />
        Pittsburgh, PA 15206
      </address>
    </div>

    <div class="column-4">
      <h5>Give Us A Call</h5>
      <p>
        <a href="tel:412-956-3358">(412) 956-3358</a>
      </p>
      <h5>Send Us An Email:</h5>
      <p>
        <a href="mailto:grow@viableindustries.com">grow@viableindustries.com</a>
      </p>   
    </div>    

    <div class="column-4">
      <h5>Connect With Us Online</h5>
      <ul>
          <li><a href="http://twitter.com/viableind" target="_blank">Follow us on Twitter</a></li>
          <li><a href="http://www.facebook.com/viableindustries" target="_blank">Like us on Facebook</a></li>
          <li><a href="http://instagram.com/viableindustries" target="_blank">Follow us on Instagram</a></li>
        </ul>
    </div>

    <div class="column-4">
      <h5>Come Work With Us</h5>
      <p>We currently have no open positions, but you can still send us your resume.</p>
    </div>
  </div>
</footer>

<footer role="copyright" class="site-copyright">
  <div class="row">
    <div class="column-16 align-center">
      <p>
        <strong>Viable Industries is a value-driven digital creative studio. We’re passionate about empowering organizations with web and mobile technologies that use their data to spark public engagement and fuel smarter problem-solving.</strong>
      </p>
      <p>
        We are located at 6101 Penn Ave, Suite 201 in Pittburgh, Pennsylvania 15206. Our offices are on the second floor of the Liberty Bank Building in The Beauty Shoppe's innovative working space.
      </p>
      <p>
        Copyright &copy; 2013-2015 Viable Industries, L.L.C. All rights reserved.
      </p>
    </div>
  </div>
</footer>
