<footer role="contentinfo" class="site-footer">
  <div class="row">
    <div class="column-4">
      <h5>Come Visit Us</h5>
      <address>
        1875 Connecticut Avenue NW,<br />
        Washington, DC 20009
      </address>
    </div>

    <div class="column-4">
      <h5>Give Us A Call</h5>
      <p>
        <a href="tel:814-386-2865">814-386-2865</a>
      </p>
      <h5>Send Us An Email:</h5>
      <p>
        <a href="mailto:dawes@chesapeakecommons.org">dawes@chesapeakecommons.org</a>
      </p>   
    </div>    

    <div class="column-4">
      <h5>Connect With Us Online</h5>
      <ul>
          <li><a href="http://twitter.com/ChesCommons" target="_blank">Follow us on Twitter</a></li>
          <li><a href="https://www.facebook.com/chesapeake.commons" target="_blank">Like us on Facebook</a></li>
        </ul>
    </div>

    <div class="column-4">
      <h5>Come Work With Us</h5>
      <p>We currently have no open positions, but you can still send us your resume.</p>
    </div>
  </div>
</footer>

<footer role="copyright" class="site-copyright">
  <div class="row">
    <div class="column-16 align-center">
      <p>
        <strong>
        Chesapeake Commons is a resource that enables small watershed organizations, foundations, and government to turn raw data into knowledge that sparks information transparency, public engagement, and effective Bay restoration action.</strong>
      </p>
      <p>
        We are located at 1875 Connecticut Avenue NW, Washington, DC 20009. Our offices are located at WeWork's  Washington, DC innovative working space.
      </p>
      <p>
        Copyright &copy; 2012-2015 ChesapeakeCommons. All rights reserved.
      </p>
    </div>
  </div>
</footer>
