<header class="site-header">

    {% if page.url == '/index.html' %}
    <a class="site-title active" href="{{ site.baseurl }}/" title="{{ site.title }}">
      <img src="/images/logo-ChesapeakeCommons-Logotype-Black.svg" alt="Chesapeake Commons Corporate Logotype" />
    </a>
    {% else %}
    <a class="site-title" href="{{ site.baseurl }}/" title="{{ site.title }}">
      <img src="/images/logo-ChesapeakeCommons-Logotype-Black.svg" alt="Chesapeake Commons Corporate Logotype" />
    </a>
    {% endif %}

    <h1 class="page-title">
      We believe that open environmental information and shared knowledge is paramount to ensuring a vital Chesapeake Bay.
    </h1>

</header>
