<header class="site-header">

    {% if page.url == '/index.html' %}
    <a class="site-title active" href="{{ site.baseurl }}/" title="{{ site.title }}">
      <img src="/images/logo-ViableIndustries-Logotype-Black.svg" alt="Viable Industries Corporate Logotype" />
<!--       <img src="/images/logo-ChesapeakeCommons-Logotype-Black.svg" alt="Viable Industries Corporate Logotype" />
      <img src="/images/logo-CommonsCloud-Logotype-Black.svg" alt="Viable Industries Corporate Logotype" />
 -->    </a>
    {% else %}
    <a class="site-title" href="{{ site.baseurl }}/" title="{{ site.title }}">
      <img src="/images/logo-ViableIndustries-Logotype-Black.svg" alt="Viable Industries Corporate Logotype" />
<!--       <img src="/images/logo-ChesapeakeCommons-Logotype-Black.svg" alt="Viable Industries Corporate Logotype" />
      <img src="/images/logo-CommonsCloud-Logotype-Black.svg" alt="Viable Industries Corporate Logotype" />
 -->    </a>
    {% endif %}

    <h1 class="page-title">
      Transparency is the foundation for meaningful social change, effective public engagement, and thoughtful decision making.
    </h1>

</header>
