
  <article class="page-content">

    <h2>
      We're a small team of technologists headquarter in Pittsburgh, PA with partners in Washington, DC.
    </h2>

    <div class="row content-features">
      <div class="column-1"></div>

      <div class="column-4 align-center content-feature">
        <div class="content-feature-icon">
          <img src="/images/people-JoshuaPowell.jpg" width="200" alt="Joshua Powell Headshot, Managing Director" />
        </div>
        <h4 class="alt">Joshua Powell</h4>
        <p>
          <em>Managing Director</em>
        </p>
      </div>

      <div class="column-1"></div>

      <div class="column-4 align-center content-feature">
        <div class="content-feature-icon">
          <img src="/images/people-RyanHamley.jpg" width="200" alt="Ryan Hamley Headshot" />
        </div>
        <h4 class="alt">Ryan Hamley</h4>
        <p>
          <em>Engineering</em>
        </p>
      </div>
      <div class="column-1"></div>

      <div class="column-4 align-center content-feature">
        <div class="content-feature-icon">
          <img src="/images/people-AmiePowell.jpg" width="200" alt="Amie Powell Headshot" />
        </div>
        <h4 class="alt">Amie Powell</h4>
        <p>Operations</p>
      </div>

      <div class="column-1"></div>
    </div>

  </article>


  <article class="page-content site-team">

    <hr />

    <div class="row content-features">
      <div class="column-4"></div>

      <div class="column-4 align-center content-feature">
        <div class="content-feature-icon">
          <img src="/images/people-RJohnDawes.png" width="200" alt="R. John Dawes Headshot" />
        </div>
        <h4 class="alt">R. John Dawes</h4>
        <p>
          <em>Data + Cartography Partner</em>
        </p>
      </div>

      <div class="column-4 align-center content-feature">
        <div class="content-feature-icon">
          <img src="/images/people-BrendanMcintyre.png" width="200" alt="Brendan McIntyre Headshot" />
        </div>
        <h4 class="alt">Brendan McIntyre</h4>
        <p>
          <em>Policy + Development Partner</em>
        </p>
      </div>

      <div class="column-4"></div>
    </div>

    <br />

  </article>