//
// _content.scss
//
// This stylesheet is written in SASS(1) and contains site specific layout
// elements.
//
// @see (1) http://sass-lang.com/documentation/file.SASS_REFERENCE.html
//

.dark {
  .page-header {
    background-color: rgba($color-black-base, 0.75);
    padding: 64px;

    h2,
    h3,
    h4,
    h5,
    h6 {
      color: rgba(252,252,252,0.75);

      a,
      a:active,
      a:link,
      a:hover,
      a:visited {
        color: rgba(252,252,252,0.75);
      }
    }

    h1 {
      border-top: 1px solid rgba($color-white-base, 0.25);
      color: rgba(252,252,252,0.95);
      padding-bottom: 0;
    }

    p {
      color: rgba(252,252,252,0.95);
    }

    p {
      font-family: $font-sans;
    }
  }
  
  .page-content {
    background-color: $color-white-bright;
    float: left;
    margin-top: 0;
    padding: 64px 0;
    width: 100%;
  }

  .site-content {
    background-color: transparent;
    padding: 32px 0 0;
  }
}

//
// Site Header
//
.site-header {
  left: 0;
  margin-left: 0.625%;
  margin-right: 0.625%;
  padding-left: 16px;
  padding-right: 16px;
  position: fixed;
  top: 0;
  width: 23.75%;
}


//
// Site Content
//
.site-content {
  background-color: rgb(252,252,252);
  float: left;
  left: 25%;
  margin-bottom: 0;
  margin-left: 0.625%;
  margin-right: 0.625%;
  margin-top: 32px;
  padding: 32px 0;
  position: relative;
  top: 0;
  width: 70%;

  &.site-content-hero {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto 342px;

    .page-header {
      padding: 64px 64px 128px;
    }

    .page-content {
      margin-top: 64px;
    }
  }
}

  .page-header,
  .post-header {
    background-position: 0 0;
    background-repeat: no-repeat;
    padding: 64px 64px 0;

    h1 {
      border-top: 1px solid darken($color-white-base, 5%);

      display: inline-block;
      margin: 16px -16px 0;
      padding: 16px;

      width: 100%;
      
      &.alt {
        color: $color-white-bright;
        font-family: $font-sans;
        font-size: 4em;
        font-weight: 600;
        margin: 0;
        padding: 64px 0;
        text-transform: uppercase;
      }

      &.page-hero-alt {
        border-color: rgba($color-white-bright, 0.9);
        color: rgba($color-white-bright, 0.9);
        font-family: $font-sans;
        font-size: 4em;
        font-weight: 600;
        letter-spacing: 0.125em;
        text-transform: uppercase;
        word-spacing: 0.25em;
      }
    }

    h2 {
      font-family: $font-sans;
      font-size: 1em;
      font-weight: 200;
      letter-spacing: 0.125em;

      margin: 0;
      padding: 0;

      text-transform: uppercase;

      a,
      a:link,
      a:visited {
        background-color: transparent;
        background-image: none;
      }

      &.page-hero-alt {
        color: rgba($color-white-bright, 0.9);

        a,
        a:link,
        a:visited {
          color: rgba($color-white-bright, 0.9);
        }
      }
    }
  }

  .page-content,
  .post-content {
    display: block;
    margin-top: 32px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote {
      padding: 0 64px;
    }

    blockquote {
      border-left: 5px solid darken($color-white-base, 5%);
      font-style: italic;
      margin-bottom: 32px;
      margin-left: 32px;
      padding-left: 32px;
    }

    ol,
    ul {
      margin: 0 32px 32px;
      padding: 0 64px;
    }

    article {
      a,
      a:active,
      a:link,
      a:visited {
        background-image: none;
        color: darken($color-blue-base, 20%);
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }

  .content-features {

    .content-feature {

      .content-feature-icon {
        .icon {
          border-radius: 47%;
          border: 2px dotted;
          box-shadow: 0 0 6px $color-brand-base;
          font-size: 3em;
          height: 100px;
          padding: 23px 0 0;
          width: 100px;
          text-shadow: 0 0 6px $color-brand-base;
        }
      }

      h4 {
        padding: 0;
      }

      p {
        font-family: $font-sans;
        font-size: 1em;
        font-weight: 300;
        padding: 0;
      }

    }

  }

.site-title {
  display: inline-block;
  margin-left: -8px;
  margin-top: 196px;
  padding: 16px 32px 8px 8px;

  &.active {
    background-color: $color-brand-base;
  }

  img {
    max-width: 11.25em;
    min-width: 11.25em;
    width: 11.25em;
  }
}

.post-sidebar,
.page-sidebar,
.content-sidebar {
  border-left: 1px solid darken($color-white-base, 5%);
  padding-left: 64px;
  margin-left: -64px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li {
    padding-left: 0;
  }

  ol,
  ul {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;

    li {
      list-style-type: none;
      font-family: $font-sans;
      font-size: 0.875em;
      font-weight: 300;
    }

  }

  .links {
    margin-top: 32px;

    li {
      border-bottom: 1px dashed darken($color-white-base, 5%);
      margin-bottom: 32px;
      padding-bottom: 32px;

      .link-title {
        display: block;
        margin: 4px 0 8px;
      }

      .link-url {
        display: block;
      }
    }
  }

  .statistic {
    text-align: center;

    .statistic-label {
      display: block;
      font-family: $font-sans;
      font-size: 0.875em;
      font-weight: 300;
    }

    .statistic-value {
      color: #AAA;
      display: block;
      font-family: $font-sans;
      font-size: 5em;
      font-weight: 700;
      line-height: 1.125;
      text-shadow: 2px 2px 0 #F0FD37;

      &.statistic-large {
        font-size: 10em;
        line-height: 1;
      }
    }
  }

}

.post-author {
  border-top: 1px solid darken($color-white-base, 5%);
  margin: 32px 48px;
  padding: 32px 16px;

  .author-name {
  }

  .author-image {
    border-radius: 50%;
  }
}


//
// Site Footer
//
.site-footer {
  background-color: rgb(248,248,248);
  float: left;
  left: 25%;
  position: relative;
  margin-bottom: 0;
  margin-left: 0.625%;
  margin-right: 0.625%;
  max-width: 2048px;
  padding: 64px 64px 32px;
  width: 70%;

  h5 {
    font-family: $font-sans;
    font-size: 0.875em;
    font-weight: 500;
    margin-bottom: 8px;
    text-transform: uppercase;
  }
  
  p,
  address {
    font-family: $font-serif;
    font-size: 0.875em;
    font-weight: 300;
    margin-bottom: 32px;
  }

  ul {
    padding-left: 24px;
  }

  li {
    font-family: $font-serif;
    font-size: 0.875em;
    font-weight: 300;
    margin-bottom: 0;
  }
}


//
// Site Copyright
//
.dark {
  .site-copyright {
    background-color: rgba($color-black-base, 0.75);
    
    p {
      color: rgba($color-white-bright, 0.25);

      a,
      a:active,
      a:link,
      a:hover,
      a:visited {
        background-image: none;
        color: rgba($color-white-bright, 0.25);
        text-decoration: underline;
      }
    }
  }
}

.site-copyright {
  background-color: rgba(248, 248, 248, 0.75);
  float: left;
  left: 25%;
  margin-bottom: 64px;
  margin-left: 0.625%;
  margin-right: 0.625%;
  padding: 32px 64px 32px;
  position: relative;
  max-width: 2048px;
  width: 70%;

  p {
    font-family: $font-sans;
    font-size: 0.75em;
    font-weight: 300;
  }

  .page-last-updated {
    color: rgba($color-black-base, 0.75);
    letter-spacing: 0.0125em;
    font-size: 0.675em;
  }
}


//
// Images
//
img {
  max-width: 100%;

  &.img-respond {
    width: 100%;
  }
}


//
// Articles
//

  //
  // Landing Page
  //
  .article-container {
    float: left;
    width: 100%;

    .article {
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      float: left;
      height: 316px;
      position: relative;
      width: 33.33333333%;

      a {
        background-image: none;
        height: 100%;
        margin: 0;
        padding: 16px;
        position: absolute;
        width: 100%;
        z-index: 1;
      }

      .background-overlay {
        background-color: rgba(242,242,242,0.75);
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 0;
      }

      .article-date,
      .article-title,
      .article-author {
        display: block;
      }

      .article-date {
        font-family: $font-sans;
        font-size: 0.75em;
        font-weight: 500;
        margin-bottom: 8px;
        text-transform: uppercase;
      }

      .article-title {
        font-family: $font-sans;
        font-size: 1.25em;
        font-weight: 500;
        line-height: 1.25;
        margin-bottom: 8px;

        strong {
          font-weight: 500;
        }
      }

      .article-author {
        font-family: $font-serif;
        font-size: 0.875em;
        font-weight: 300;
      }

      .article-author-image {
        border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        -webkit-border-radius: 50%;
        display: inline-block;
        float: left;
        height: 32px;
        width: 32px;
      }

      .article-author-name {
        float: left;
        margin-top: 8px;
        margin-left: 8px;
      }
    }
  }

  .article-container.article-viable-container {

    .article {

      .background-image {
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        position: absolute;
        overflow: hidden;
        height: 100%;
        width: 100%;
      }

      .background-overlay {
        background-color: rgba(242,242,242,0.9);
      }

      a {
        text-align: center;
      }

      .article-title {
        background-color: rgba($color-blue-base, 0.5);
        display: inline-block;
        padding-left: 4px;
        padding-right: 4px;
        margin-top: 25%;
        text-align: center;
      }

      .article-subtitle {
        display: inline-block;
        font-family: $font-sans;
        font-size: 1em;
        font-style: italic;
        font-weight: 300;
        line-height: 1.25;
        margin-bottom: 8px;
        text-align: center;

        strong {
          font-weight: 500;
        }
      }

      .article-date {
        display: inline-block;
        font-family: $font-sans;
        font-size: 1em;
        font-style: italic;
        font-weight: 300;
        line-height: 1.25;
        margin-bottom: 0;

        position: absolute;
        bottom: 16px;
        left: 16px;
      }

    }

    .article:hover {

      .article-title {
        background-color: rgba($color-blue-base, 0.75);
      }

      .background-overlay {
        background-color: rgba(242,242,242,0.7);
      }

      .background-image {
        filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
      }

    }

  }