//
// _map.scss
//
// This stylesheet is written in SASS(1) and contains site wide typographic
// specifications.
//

.index-map {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

//
// Mapbox.JS Overrides
//
.leaflet-control-attribution {
  display: none;
}

//
// Geocoder Dropdown
//
.form-geocoder .address {
  position: relative;
  .dropdown {
     background-color: transparent;
     color: $color-white-base;
     left: 0;
     position: absolute;
     top: 39px;
     width: 100%;
     z-index: 9999;

     ul {
         background-color: $color-white-base;
         box-shadow: 0 2px 3px rgba(0,0,0,0.2);
         list-style-type: none;
         padding: 0;
         width: 100%;
     }

     li {
         color: rgb(85,85,85);
         font-size: 16px;
         font-weight: 300;
         list-style-type: none;
         margin: 0;
         padding: 8px 16px;

         a {
           background-color: $color-white-base;
           color: $color-black-base;
           cursor: pointer;
           display: block;
           font-family: $font-sans-plain;
           font-size: 1.25em;
           font-weight: 300;
           width: 100%;

           &:hover {
             background-color: $color-white-base;
           }
         }
     }
  }
}

//
// Leaflet Overrides
//
//
// Marker Popup
//
.leaflet-popup-content-wrapper {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.leaflet-map-pane .leaflet-popup {
  bottom: 0 !important;
}

.leaflet-map-pane .leaflet-popup .leaflet-popup-content {
  margin: 8px 16px 9px;
}

.leaflet-map-pane .leaflet-popup .leaflet-popup-content p {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  margin: 8px 0;
}

.leaflet-map-pane .leaflet-popup .leaflet-popup-content p span {
  font-size: 11px;
  font-weight: 300;
  letter-spacing: -0.0125em;
}

.leaflet-popup-close-button {
  display: none !important;
}

//
// Zoom Buttons
//
.leaflet-bar a:first-child,
.leaflet-bar a:last-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.leaflet-top.leaflet-right {
  display: none !important;
}


//
// Legend
//
.legend {
  .legend-list {
    display: table;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: table-row;
      font-size: 0.75em;
      font-weight: 300;

      img {
        max-width: 20px;
        width: 100%;
      }

      .legend-item-symbol {
        display: table-cell;
        height: 40px;
        margin-bottom: 8px;
        vertical-align: middle;
        width: 20px;

        &.legend-item-symbol-polygon {
          background-image: url("//api.tiles.mapbox.com/v4/developedsimple.k105bd34/-77.8714370727539,39.3727911029975,17/40x40@2x.png?access_token=pk.eyJ1IjoiZGV2ZWxvcGVkc2ltcGxlIiwiYSI6IlZGVXhnM3MifQ.Q4wmA49ggy9i1rLr8-Mc-w");
        }

        &.legend-item-symbol-county {
        }

        &.legend-item-symbol-land-river-segment {
          background-color: rgba($color-blue-base, 75%);
        }
      }
      .legend-item-label {
        display: table-cell;
        margin-bottom: 8px;
        height: 40px;
        padding-left: 8px;
        vertical-align: middle;
      }
    }
  }
}