//
// _content.scss
//
// This stylesheet is written in SASS(1) and contains site specific layout
// elements.
//
// @see (1) http://sass-lang.com/documentation/file.SASS_REFERENCE.html
//

//
// Site Header
//
.site-header {
  left: 0;
  margin-left: 0.625%;
  margin-right: 0.625%;
  padding-left: 16px;
  padding-right: 16px;
  position: fixed;
  top: 0;
  width: 23.75%;
}


//
// Site Content
//
.site-content {
  background-color: rgb(252,252,252);
  float: left;
  left: 25%;
  margin-bottom: 0;
  margin-left: 0.625%;
  margin-right: 0.625%;
  margin-top: 32px;
  padding: 32px 0;
  position: relative;
  top: 0;
  width: 70%;
}

  .page-header,
  .post-header {
    background-position: 0 0;
    background-repeat: no-repeat;
    padding: 64px 64px 0;

    h1 {
      border-top: 1px solid darken($color-white-base, 5%);

      display: inline-block;
      margin: 16px -16px 0;
      padding: 16px;

      width: 100%;
    }

    h2 {
      font-family: $font-sans;
      font-size: 1em;
      font-weight: 200;
      letter-spacing: 0.125em;

      margin: 0;
      padding: 0;

      text-transform: uppercase;

      a,
      a:link,
      a:visited {
        background-color: transparent;
        background-image: none;
      }
    }
  }

  .page-content,
  .post-content {
    display: block;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol {
      padding: 0 64px;
    }
  }

.site-title {
  display: inline-block;
  margin-left: -8px;
  margin-top: 196px;
  padding: 16px 32px 8px 8px;

  &.active {
    background-color: $color-brand-base;
  }

  img {
    max-width: 11.25em;
    min-width: 11.25em;
    width: 11.25em;
  }
}

.post-sidebar {
  text-align: center;
}

.post-author {
  border-top: 1px solid #E5E5E5;
  margin: 32px 48px;
  padding: 32px 16px;

  .author-name {
  }

  .author-image {
    border-radius: 50%;
  }
}


//
// Site Footer
//
.site-footer {
  background-color: rgb(248,248,248);
  float: left;
  left: 25%;
  position: relative;
  margin-bottom: 32px;
  margin-left: 0.625%;
  margin-right: 0.625%;
  max-width: 2048px;
  padding: 64px 64px 32px;
  width: 70%;

  h5 {
    font-family: $font-sans;
    font-size: 0.875em;
    font-weight: 500;
    margin-bottom: 8px;
    text-transform: uppercase;
  }
  
  p,
  address {
    font-family: $font-serif;
    font-size: 0.875em;
    font-weight: 300;
    margin-bottom: 32px;
  }

  ul {
    padding-left: 24px;
  }

  li {
    font-family: $font-serif;
    font-size: 0.875em;
    font-weight: 300;
    margin-bottom: 0;
  }
}


//
// Site Copyright
//
.site-copyright {
  float: left;
  left: 25%;
  margin-bottom: 64px;
  margin-left: 0.625%;
  margin-right: 0.625%;
  padding: 0 64px;
  position: relative;
  max-width: 2048px;
  width: 70%;

  p {
    font-family: $font-sans;
    font-size: 0.875em;
    font-weight: 300;
  }
}


//
// Images
//
img {
  max-width: 100%;
}