//
// _navigation.scss
//
// This stylesheet is written in SASS(1) and contains site wide navigation
// specifications.
//
// @see (1) http://sass-lang.com/documentation/file.SASS_REFERENCE.html
//

//
// Global Navigation
//
.navigation-primary {
  
  ul {
    list-style: none;
    margin: 32px 0 0;
    padding: 0;

    li {
      display: block;
      font-family: $font-sans;
      font-size: 1em;
      font-weight: 700;
      list-style-type: none;
      margin: 0 0 2px;
      padding: 0;
      text-transform: uppercase;

      a,
      a:active,
      a:link,
      a:visited {
        background-color: transparent;
        color: $color-black-base;
        display: inline-block;
        line-height: 1;
        padding: 8px 32px 4px 8px;
        position:relative;
        text-decoration: none;

        &.active {
          background-color: $color-brand-base;
          color: $color-black-base;
          text-decoration: none;
        }
      }

      a:hover {
        background-color: $color-brand-base;
        color: $color-black-base;
        text-decoration: none;
      }

    }
  }
}