//
// _typography.scss
//
// This stylesheet is written in SASS(1) and contains site wide typographic
// specifications.
//


$base-font-size: 1em;


body {
  font-family: $font-sans;
  font-size: 100.00%; // This makes $base-font-size 16px
}


//
// Calculating Font Sizes from PX to EM
//
// [Desired Pixel Size]/[Base Pixel Size]=[EM Font Size Value]
//
// Examples:
//
//     24 / 16 = 1.500em
//     18 / 16 = 1.125em
//     12 / 16 = 0.750em
//     10 / 16 = 0.625em
//

//
// Calculating Line Height and Margins from PX to EM
//
// Example:
// 
//     body {
//       font-size: 100%; // 100% body font-size is the same as saying 16px
//     }
//
//     h1 {
//       font-size: 3.000em; // 48px (body-font-size*font-size)
//       line-height: 1; // 48px (1*font-size)
//       margin-bottom: 0.333em; // 12px (0.250*font-size)
//       margin-top: 0; // 0px (0*font-size)
//     }
//
//


//
// Global Typeographic Styles
//
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
address,
blockquote {
  font-family: $font-serif;
  color: $color-black-base;
  line-height: 1.5;
  letter-spacing: 0.025em;
}

h1.alt,
h2.alt,
h3.alt,
h4.alt,
h5.alt,
h6.alt {
  font-family: $font-sans;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 3.0em;
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: 16px;
  margin-top: 0;
}

h2, p.lead {
  font-size: 2.0em;
  line-height: 1.2;
  margin-bottom: 16px;
  margin-top: 0;
}

p.introduction {
  font-size: 1.75em;
  line-height: 1.4;
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}

h2.alt {
}

h3 {
  font-family: $font-serif;
  font-size: 1.625em;
  font-weight: 300;
  margin: 0 0 16px;
}

h3.alt {
}

h4 {
  font-family: $font-sans;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.025em;
  margin: 32px 0 8px;
  text-transform: uppercase;
}

h4.alt {
  line-height: 2;
}

h5 {
  font-size: 0.875em;
  font-weight: 500;
  letter-spacing: -0.0125em;
  margin: 0 0 16px;
}

h5.alt {
  line-height: 2;
}

h6 {
  font-size: 0.75em;
  font-weight: 500;
  letter-spacing: -0.0125em;
  margin: 0 0 16px;
}

h6.alt {
  line-height: 2.4;
}

p,
address,
blockquote {
  font-size: 1.25em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  margin: 0 0 16px;
  max-width: 48.75em;
}

em {
  font-style: italic;
}

ul {
  list-style-type: square;
  margin: 0 0 32px;
  max-width: 60.94em;
}

ol {
  margin: 0 0 32px;
  max-width: 60.94em;
}

li {
  font-size: 1.25em;
}

hr {
  border: 0;
  border-top: 1px solid rgb(229,229,229);
  display: block;
  margin: 32px 48px;
}


//
// Global Hyperlink Styles
// 
a,
a:active,
a:link,
a:visited {
  background-image: linear-gradient(to right, $color-brand-base 50%, transparent 50%);
  background-size: 200% 100%;
  color: $color-black-base;
  cursor: pointer;
  text-decoration: none;
  transition: background-position .25s;
  -moz-transition: background-position .25s;
  -webkit-transition: background-position .25s;

  img {
    background-image: none;
  }

  &.highlight {
    background-color: $color-highlight-base;
  }
}

a:hover {
  background-position: 100% 0;
  text-decoration: none;

  &.highlight {
    background-color: transparent;
    text-decoration: none;
  }
}

//
// Convenience Selectors
//
.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}


//
// Figure/Image/Picture
//
figure {
  margin: 32px -0.625%;
  padding: 0;

  img {
    padding-bottom: 8px;
  }

  figcaption {
    color: lighten($color-black-base, 50%);
    font-size: 0.75em;
    font-style: italic;
    padding-right: 8px;
    text-align: right;

    a,
    a:active,
    a:hover,
    a:link,
    a:visited {
      color: lighten($color-black-base, 50%);
    }
  }
}


//
//
//
.text-white {
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  a:link,
  a:active,
  a:visited,
  a:hover {
    color: white;  
  }
}