//
// _variables.scss
//
// This stylesheet is written in SASS(1) and contains variables that apply to
// the site as a whole. This makes us more effective in retaining a consistency
// throughout the entire site.
//
// @see (1) http://sass-lang.com/documentation/file.SASS_REFERENCE.html
//


//
// Color Variables
//

// Brand Color
//$color-brand-base: #1878B8; // Chesapeake Commons
//$color-brand-base: #10AAC8; // Commons Cloud
$color-brand-base: rgb(240,253,55); // Viable Industries

$color-black-base: rgb(34,34,34);

$color-white-bright: rgb(252,252,252);
$color-white-base: rgb(242,242,242);

$color-blue-base: rgb(25,166,215);

$color-highlight-base: rgb(255, 251, 178);

$color-brown-base: #F6F6EE;

//
// Typography Variables
//
$font-serif: "Calluna", "Times New Roman", "Times", serif;;
$font-sans: "Proxima Nova", "Helvetica Neue", "Helvetica", Arial, sans-serif;
$font-sans-plain: "Helvetica Neue", "Helvetica", Arial, sans-serif;


