<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="{{ page.meta.description }}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ page.meta.title }}" />
    <meta property="og:description" content="{{ page.meta.description }}" />
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:site_name" content="ChesapeakeCommons" />

    <title>{{ page.meta.title }}</title>

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  </head>

  <body class="{{ page.class }}">

    {% include header-index.html %}

    <main class="site-content">
      {{ content }}
    </main>

    {% include purpose-index.html %}

    <main class="site-content">
      {% include team-index.html %}
    </main>

    {% include footer-index.html %}
    
    <script type="text/javascript" src="//use.typekit.net/eks4tss.js"></script>
    <script type="text/javascript">
      try {
        Typekit.load();
      }catch(e){
        console.error('Could not load Typekit');
      }
    </script>

  </body>

</html>
